// FONTS
$main-font-family: 'Montserrat', 'Arial', sans-serif;
$logo-deco-font: 'Amatic SC';

//FONT COLORS
$first-font-color: #030303;
$second-font-color: #ffffff;
$third-font-color: rgb(121, 121, 121);
$fourth-font-color: rgb(211, 203, 203);
$logo-text-color: rgb(111, 209, 20);
$text-color-item-titile: rgb(133, 5, 5);

//  COLORS
$main-color: #ffffff;
$header-bg-color: rgb(58, 57, 57);
$second-background-color: rgb(211, 203, 203);
$third-color: #241f1f;
$hover-color: rgb(111, 209, 20);
$footer-color: #853433;

//serch-top-button
$house-color: rgb(63, 121, 9);
$family-color: rgb(20, 124, 209);
$travels-color: rgb(209, 20, 209);
$music-color: rgb(205, 218, 36);
$learn-color: rgb(209, 20, 20);
