.page-header {
  padding-top: 20px;
  background-color: $fourth-font-color;
  background-image: url(../images/header/header_bg.jpg);
  // filter: grayscale(1);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}
